#spans{
    font-size: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: pre-wrap;
    display: inline-block;
    transition: all .1s ease;
    opacity: 0;

}
#spans.active{
    /* color: #08fdd8 !important; */
    /* color: #b806ff !important; */
    background: linear-gradient(to right, #08fdd8, #08fdd8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#spans.isAnimated {
    animation-name: letterIn;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
    animation-fill-mode: forwards;
    transition: all 1s ease;
    opacity: 1;
  }
  

  @keyframes letterIn {
    0% {
        opacity: 0;
        transform: scale3d(0.95, 0.95, 0.95);
    }
    35% {
        transform: scale3d(1.1, 1.15, 1);
    }
    50% {
        transform: scale3d(0.9, 1.02, 1);
    }
    65% {
        transform: scale3d(1.05, 1.1, 1);
    }
    80% {
        transform: scale3d(0.95, 1.03, 1);
    }
    90% {
        transform: scale3d(1, 1, 1);
    }
    100%{
        opacity: 1;
    }
  }