@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

#LadingContainer{
    /* background-color: #1d1d1d; */
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    color: #fefefe;
    display: flex;
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; 
}
#meContainer {
    margin: auto 0 auto 80px;
    display: block;
    width: 100%;
}

#statementP{
    margin: 25px 0 0 0;
    color: rgb(141, 141, 141);
    font-style: italic;
    animation: aparecer 1s ease-out;
    animation-delay: 2000ms;
    opacity: 0;
    animation-fill-mode: forwards;
    font-size: 16px
}

#sentence{
    font-size: 80px;
    font-weight: 400; 
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#sentence span{
    background-image: linear-gradient(to top, #fff    , #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Sigmar', cursive;
}





#sendButton{
  text-align: end;
  padding-right: 15px;
  padding-top: 20px;
  max-width: 850px;
}
#sendButton.aparecer{
  opacity: 0;
  animation: aparecerButton 1.2s ease forwards 800ms !important;
}   
#sendButton button{
  height: 50px;
  width: 100%;
  max-width: 220px;
  background-color: transparent;
  border: 1px solid #08fdd8;
  color: #08fdd8;
  letter-spacing: 4px;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-family: 'Exo', sans-serif;
  overflow: hidden;
}
#sendButton button::after{
  content: "";
  width: 6%;
  background-color: #08fdd8;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: -5px;
  z-index: -1;
  transition: all 0.4s ease;
  transform:  skewX(-10deg);
}
#sendButton button:hover{
  color: #000;
}
#sendButton button:hover::after{
  width: calc(100% + 10px);
}

@keyframes aparecerButton {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  35%{
      opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

  @keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateY(25px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }



@media screen and (max-width:1100px ) and (min-width:781px) {
    #sentence{
        font-size: 65px;
    }
    #meContainer> p{
      margin: 25px 0 0 0;
    }
}
@media screen and (max-width:780px ) and (min-width:671px) {
    #sentence{
        font-size: 50px;
    }
    #meContainer> p{
      margin: 20px 0 0 0;
    }
}
@media screen and (max-width:670px ) and (min-width:601px) {
    #sentence{
        font-size: 55px;
        line-height: 60px;
        height: 60px;
    }
    #meContainer> p{
      margin: 25px 0 0 0;
    }
}
@media screen and (max-width:600px ) and (min-width:551px) {
  #sentence{
    font-size: 55px;
    line-height: 60px;
    height: 55px;
  }
  #meContainer> p{
    margin: 20px 0 0 0;
    font-size: 15px
  }
}

@media screen and (max-width:600px ) and (min-width:551px) {
  #sentence{
    font-size: 55px;
    line-height: 60px;
    height: 66px;
  }
  #meContainer> p{
    margin: 20px 0 0 0;
    font-size: 15px
  }
  #meContainer {
    margin: auto 0 auto 50px;
  }
}

@media screen and (max-width:550px ) and (min-width:501px) {
  #sentence{
    font-size: 55px;
    line-height: 60px;
    height: 65px;
  }
  #meContainer {
    margin: auto 0 auto 30px;
    padding-bottom: 60px;
  }
  #meContainer> p{
    margin: 20px 0 0 0;
    font-size: 15px
  }
}

@media screen and (max-width:500px ) and (min-width:461px) {
  #sentence{
    font-size: 55px;
    line-height: 60px;
    height: 65px;
  }
  #meContainer {
    margin: auto 0 auto 30px;
    padding-bottom: 60px;
  }
  #meContainer> p{
    margin: 20px 0 0 0;
    font-size: 15px
  }
}

@media screen and (max-width:460px ) and (min-width:401px) {
  #sentence{
    font-size: 55px;
    line-height: 60px;
    height: 55px;
  }
  #meContainer {
    margin: auto 0 auto 20px;
    padding-bottom: 80px;
  }
  #meContainer> p{
    margin: 20px 0 0 0;
    font-size: 15px
  }
}

@media screen and (max-width:400px ) and (min-width:351px) {
  #sentence{
    font-size: 55px;
    line-height: 60px;
    height: 50px;
  }
  #meContainer {
    margin: auto 0 auto 15px;
    padding-bottom: 80px;
  }
  #meContainer> p{
    margin: 20px 0 0 0;
    font-size: 15px
  }
}

@media screen and (max-width:350px ) and (min-width:311px) {
  #sentence{
    font-size: 55px;
    line-height: 60px;
    height: 50px;
  }
  #meContainer {
    margin: auto 0 auto 12px;
    padding-bottom: 80px;
  }
  #meContainer> p{
    margin: 20px 0 0 0;
    font-size: 15px
  }
}

@media screen and (max-width:311px ) and (min-width:281px) {
  #sentence{
    font-size: 55px;
    line-height: 60px;
    height: 50px;
  }
  #meContainer {
    margin: auto 0 auto 12px;
    padding-bottom: 80px;
  }
  #meContainer> p{
    margin: 20px 0 0 0;
    font-size: 15px
  }
}

@media screen and (max-width:280px ) {
  #sentence{
    font-size: 55px;
    line-height: 60px;
    height: 40px;
  }
  #meContainer {
    margin: auto 0 auto 10px;
    padding-bottom: 80px;
  }
  #meContainer> p{
    margin: 20px 0 0 0;
    font-size: 15px
  }
}