@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
:root {
    --vh: 1vh;
}

#Main{
    display: flex;
    height: calc(var(--vh, 1vh) * 100);
    height: -webkit-fill-available; /* altura completa en iOS */
    height: -moz-available; /* altura completa en Firefox */
    height: -ms-fill-available; /* altura completa en IE/Edge */
    height: fill-available; /* altura completa en otros navegadores */
    overflow: hidden;
    color: #faebd7;
    background-color: #1d1d1d;
}
#mainContent{
    width: calc(100vw - 75px);
    height: calc(var(--vh, 1vh) * 100);
    height: -webkit-fill-available; 
    height: -moz-available; 
    height: -ms-fill-available; 
    height: fill-available; 
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
#mainContent>:first-child{
    
}

#navBar{
    background-color: #181818;
    width: 100px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}
#navBarOptions{
    color: #faebd7;
}
#navBarOptions li{
    margin: 20px 0;
    list-style: none;
    cursor: pointer;
}
#navBarOptions img{
    width: 25px;
}

#viewActive{
    color: #ffff01 !important;
}

#CanvasContaier{
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(var(--vh, 1vh) * 100);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #5f5d5d4f;
    background: linear-gradient(
        #ffffff00,
        #5f5d5d00 5%,
        #5f5d5d4f 45%,
        #5f5d5d4f 95%,
        #ffffff00
      );
}

::-webkit-scrollbar-thumb {
    background-color: #1d1c1c81;
    border-radius: 10px;
    height: 90px;
}






.arrowDown{
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    cursor: pointer;
    transition: opacity 0.8s ease;
}
.arrowDown span{
    display: inline-block;
    font-size: 14px;
    animation: upDown 1s linear infinite;
}
.arrowDown img{
    width: 20px;
    transform: rotate(180deg);
    padding-bottom: 3px;
}
#rightArrow{
    right: 10px;
}
#leftArrow{
    left: 10px;
}

@keyframes upDown {
    0%{
        transform: translateX(0px);
    }    
    56%{
        transform: translateX(-10px);
    }    
    100%{
        transform: translateX(0px);
    }
}


@media screen and (max-width:600px) {
    #navBar{
        position: fixed;
        left: 0%;
        top: 0;
        z-index: 1;
        width: 100%;
        background-color: #1818188c;
        display: none;
    }
    #mainContent{
        width: 100vw;
    }
    #linesMenu{
        position: absolute;
        top: 20px;
        right: 15px;
        z-index: 10;
    }
    #linesMenu >div{
        height: 25px;
        width: 25px;
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background-color: #00000050;
    }
    #linesMenu span{
        display: block;
        height: 2px;
        width: 25px ;
        background-color: #fefefe;
        margin: 0;
        padding: 0;
        margin: auto 0;
        transition: all .5s ease;
    }
    #fistSpan{
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
    }    
    #secondSpan{
        transform: rotate(-45deg);
        position: absolute;
        top: 10px;
    }    
    #thirdDiv{
        opacity: 0;
    }
}