#Skills{
    background-color: #1d1d1d;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; 
}

#content{
    width: 50%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0px 0 80px;
}
#sentence{
    font-size: 70px;
    font-weight: 700; 
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
#sentence span{
    background-image: linear-gradient(to right, #08fdd8, #08fdd8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#content p{
    margin-top: 20px;
}

#sphereContainer{
    opacity: 0;
    transition: 1.5s ease;
    width: 100%;
}
#sphereContainer.animationActive{
    animation: getIn 1.5s ease forwards;
    animation-delay: 0.65s;
    opacity: 0;
}
#timeToAnimate{
    animation: aparecer 1.3s ease;
    animation-delay: 0.6s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes getIn {
    0% {
      opacity: 0;
      transform: translateY(80px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
}


@media screen and (max-width:1650px ) and (min-width:1541px) {
    #sentence{
        font-size: 65px;
    }
}

@media screen and (max-width:1540px) and (min-width:1351px) {
    #content{
        padding: 0 0px 0 50px;
    }
    #sentence{
        font-size: 60px;
    }
    #sphereContainer{
        padding-left: 0;
    }
}

@media screen and (max-width:1350px) and (min-width:1201px) {
    #content{
        padding: 0 0px 0 45px;
    }
    #sentence{
        font-size: 55px;
    }
    #sphereContainer{
        padding-left: 0;
    }
}

@media screen and (max-width:1200px) and (min-width:1101px) {
    #content{
        padding: 0 0px 0 45px;
    }
    #sentence{
        font-size: 50px;
    }
    #sphereContainer{
        padding-left: 0;
    }
}
@media screen and (max-width:1100px) and (min-width:1001px) {
    #content{
        padding: 0 0px 0 45px;
    }
    #sentence{
        font-size: 45px;
    }
    #sphereContainer{
        padding-left: 0;
    }
}


@media screen and (max-width:1000px) and (min-width:951px) {
    #content{
        padding: 0 0px 0 30px;
    }
    #sentence{
        font-size: 40px;
    }
    #sphereContainer{
        padding-left: 0;
    }
    #content p{
        margin-top: 5px;
    }
    
}

@media screen and (max-width:950px) and (min-width:651px) {
    #Skills{
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 30px;
    }
    #content{
        padding: 0 30px 50px 30px;
        width: 100%;
        height: auto;
    }
    #sentence{
        font-size: 55px;
    }
    #sphereContainer{
        padding-left: 0;
    }
    #content p{
        margin-top: 5px;
    }
    
}


@media screen and (max-width:650px) and (min-width:601px) {
    #Skills{
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 30px;
    }
    #content{
        padding: 0 30px 50px 30px;
        width: 100%;
        height: auto;
    }
    #sentence{
        font-size: 50px;
    }
    #sphereContainer{
        padding-left: 0;
    }
    #content p{
        margin-top: 5px;
    }
    
}

@media screen and (max-width:600px) and (min-width:501px) {
    #Skills{
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 30px;
    }
    #content{
        padding: 40px 30px 40px 30px;
        width: 100%;
        height: auto;
    }
    #sentence{
        font-size: 50px;
    }
    #sphereContainer{
        padding-left: 0;
    }
    #content p{
        margin-top: 5px;
    }
    
}

@media screen and (max-width:500px) and (min-width:451px) {
    #Skills{
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 30px;
    }
    #content{
        padding: 35px 26px 50px 26px;
        width: 100%;
        height: auto;
    }
    #sentence{
        font-size: 45px;
    }
    #sphereContainer{
        padding-left: 0;
    }
    #content p{
        margin-top: 5px;
    }
    
}

@media screen and (max-width:450px) and (min-width:401px) {
    #Skills{
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 30px;
    }
    #content{
        padding: 35px 22px 50px 22px;
        width: 100%;
        height: auto;
    }
    #sentence{
        font-size: 40px;
    }
    #sphereContainer{
        padding-left: 0;
    }
    #content p{
        margin-top: 5px;
        font-size: 15px;
    }
    
}

@media screen and (max-width:400px) and (min-width:351px) {
    #Skills{
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 30px;
    }
    #content{
        padding: 35px 22px 24px 22px;
        width: 100%;
        height: auto;
    }
    #sentence{
        font-size: 35px;
    }
    #sphereContainer{
        padding-left: 0;
    }
    #content p{
        margin-top: 5px;
        font-size: 14px;
    }
    
}


@media screen and (max-width:350px) and (min-width: 301px) {
    #Skills{
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 30px;
    }
    #content{
        padding: 35px 20px 24px 20px;
        width: 100%;
        height: auto;
    }
    #sentence{
        font-size: 30px;
    }
    #sphereContainer{
        padding-left: 0;
    }
    #content p{
        margin-top: 5px;
        font-size: 14px;
    }
    
}

@media screen and (max-width:300px)  {
    #Skills{
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 30px;
    }
    #content{
        padding: 35px 20px 24px 20px;
        width: 100%;
        height: auto;
    }
    #sentence{
        font-size: 25px;
    }
    #sphereContainer{
        padding-left: 0;
    }
    #content p{
        margin-top: 5px;
        font-size: 14px;
    }
    
}


